In [25]:
import pandas as pd

In [30]:
df = pd.read_csv("total_external.csv", dtype="object")

In [33]:
df = df.drop(["Unnamed: 0"], axis = 1)

In [ ]:
df = df.replace("-",0)

In [43]:
cols = pd.read_csv("rows.csv")
cols = cols.drop(["Unnamed: 0", "Unnamed: 0.1","zip9_code"], axis = 1)
names = cols.columns
df.columns = names

In [12]:
df = df.apply(lambda row: pd.Series([str(string).replace("+","").replace("-","").replace(",","").replace("N","") for string in row]), axis = 1)

In [91]:
df = df.apply(lambda row: pd.Series([str(string).replace("[^0-9.]+","") for string in row]), axis = 1)

In [34]:
df = df.fillna(0)

In [1]:
df = df.astype("float")

In [48]:
df.to_csv("final_clean2.csv")

Below is the cleaning code that was unused, for bug testing

In [88]:
for col in df.columns:
    try:
        df[col].astype("float")
    except:
        print(col)

62
100
102
104
106
108
110
124
128

In [27]:
df_cols = pd.read_csv("final.csv", nrows = 2)

In [32]:
df_cols = df_cols.drop("Unnamed: 0", axis = 1)

In [79]:
for n, value in enumerate(df.iloc[:,62]):
    try:
        a = float(value)
    except:
        print(n)

10028
14911
14912
14913
14914
15566
15567
143334
143335
143336
144552
181514
181515
183520
183521
183522
183523
183524
183525
183526
183527
192157
192158
192159
192160
193120
210455
210456
210457
214847
214848
217654
236285
236286
236287
245720
245721
245722
249883
249884
249885
255965
255966
255967
255968
255969
255970
259376
259377
259378
259379
259380

In [90]:
print(str(df.iloc[10028,62])