In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import pairwise_distances

df = pd.read_csv("kil_me.csv").drop(['Unnamed: 0', 'country code', 'place_name', 'state_name',
       'state_code', 'county_name', 'county_code', 'community_name',
       'community_code', 'accuracy'], axis = 1).dropna()
df.head()

   postal_code  latitude  longitude
0         1001   42.0702   -72.6227
1         1002   42.3671   -72.4646
2         1003   42.3919   -72.5248
3         1005   42.4097   -72.1084
4         1007   42.2751   -72.4110

In [2]:
graph = pairwise_distances(df.iloc[:, 1:].values)

In [3]:
ind = np.argsort(graph, axis=1)

In [4]:
pd.DataFrame(ind[:, 1:4]).to_csv("graph.csv")